@media screen and (max-width:800px) {

    header{
        text-align: center;
        color: black;
    }

    header h2{
        width: 40%;
    }

    .body{
        width: 100%;
        padding: 10px;
        border: none;
        
        /* text-align: center; */
    }

    

    .btn{

        margin: 0 0 20px 0;
    }

    body .price{
        height: 17vh;

        }

    body p{
        font-size: 13px;
    }



}